.summary {
    /* border: 1px solid salmon; */
    padding: 25px;
    background-color: rgba(255, 153, 0, 0.3);
    width: 264px;
    height: 100vh;
    /* flex-shrink: 0; */
    /* position: absolute; */
    /* margin-top: -20px; */
    position: sticky;
    top:0;
    margin-right: -10px;
    margin-top: -20px;
}

.title {
    text-align: center;
}