.header {
    height: 80px;
    background-color: #1C2B35;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    min-width: 1480px;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}
nav.header a{
    color:white;
    text-decoration: none;
    margin-left: 30px;
}
nav.header a:hover{
    color:orange;
}